
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    border: 1px solid #ccc;
  }
  
  .leftbar {
    width: 10px;
    flex: 0.2;
  }
  
  .headbar {
    flex: 0.8;
  }
