
.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border: 1px solid #ccc;
  }
  
  .leftbar {
    width: 10px;
    flex: 1;
  }
  
  .headbar {
    flex: 2;
  }
